.about {

	padding: 90px 0;
	background-image: url('../img/small-body-bg.png'), url('../img/body-bg.jpg');
	background-repeat: no-repeat, no-repeat;
	background-position: center bottom, center center;
	background-size: auto, 100% 100%;

	&__list {
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 10px;
		margin-top: 55px;
		margin-bottom: 80px;
		font-size: 0;
	}

	&__el {
		padding-top: 167px;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		max-width: 225px;
		background-repeat: no-repeat;
		&:nth-child(1) {
			margin-left: -10px;
			margin-right: 10px;
			background-image: url('../img/about-01.png');
			background-position: left 0px top 5px;
		}
		&:nth-child(2) {
			margin-right: 22px;
			background-image: url('../img/about-02.png');
			background-position: left 3px top 10px;
			position: relative;
			&:before {
				position: absolute;
				left: -51px;
				top: 0;
				width: 109px;
				height: 46px;
				content: '';
				background: url('../img/about-a-01.png') no-repeat;
			}
			&:after {
				position: absolute;
				left: 200px;
				top: 87px;
				width: 190px;
				height: 145px;
				content: '';
				background: url('../img/about-a-02.png') no-repeat;
			}
		}
		&:nth-child(3) {
			max-width: 200px;
			margin-right: 32px;
			background-image: url('../img/about-03.png');
			background-position: left -2px top 15px;
			position: relative;
			&:after {
				position: absolute;
				left: 123px;
				top: 67px;
				width: 106px;
				height: 21px;
				content: '';
				background: url('../img/about-a-03.png') no-repeat;
				background-size: cover;
			}
		}
		&:nth-child(4) {
			padding-left: 10px;
			background-image: url('../img/about-04.png');
			background-position: left 2px top 19px;
		}
	}

	&__el-title {
		font-size: 36px;
		margin-bottom: 5px;
		text-transform: uppercase;
		span {
			color: $text-light;
		}
	}

	&__el-desc {
		font-size: 20px;
		line-height: 1.3;
		color: rgba($text-dark, 0.8);
	}

	&__subtitle {
		text-align: center;
		text-transform: uppercase;
		line-height: 1.17;
		font-size: 36px;
		color: $text-dark;
		margin-bottom: 50px;
		span {
			color: $text-light;
		}
	}

	&__blocks {
		display: flex;
		justify-content: center;
	}

	&__address {
		background-color: #f8ecdc;
		box-shadow: 0 30px 40px 0 rgba(0,0,0, 0.2);
		padding: 30px 30px 115px 30px;
		width: 260px;
		position: relative;
		&:nth-child(1) {
			margin-right: 30px;
		}
	}

	&__address-title {
		font-size: 20px;
		line-height: 1.1;
		margin-bottom: 17px;
	}
	&__address-desc {
		color: rgba($text-dark, 0.5);
		font-size: 17px;
		line-height: 1.41;
	}
	&__address-button {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 30px;
		width: 100%;
		a {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}

}