.atm {

	padding-bottom: 370px;
	background-image: url('../img/small-body-bg.png'), url('../img/body-bg.jpg');
	background-repeat: no-repeat, no-repeat;
	background-position: center bottom, center center;
	background-size: auto,100% 100%;
	margin-top: -307px;
	padding-top: 207px;

	&__list {
		display: flex;
		justify-content: space-between;
		margin-bottom: 45px;
		margin-top: 45px;
	}

	&__element {
		flex-basis: 32%;
		border-radius: 5px;
		border: 2px solid rgba(#333,0.2);
		padding: 30px 20px;
	}

	&__element-title {
		font-size: 28px;
		color: $text-dark;
		margin-bottom: 20px;
		text-transform: uppercase;
		span {
			color: $text-light;
		}
	}

	&__element-desc {
		color: rgba($text-dark, 0.7);
		font-size: 20px;
		line-height: 27px;
	}

	&__desc {
		color: rgba($text-dark, 0.7);
		font-size: 20px;
		line-height: 27px;
		text-align: center;
		margin: 0 auto;
		max-width: 760px;
		letter-spacing: 0.2px;
	}

	&__mobile-buttons {
		display: none;
		a {
			width: 100%;
			margin-bottom: 20px;
		}
		& > *:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__buttons {
		text-align: center;
		font-size: 0;
		a:nth-child(1) {
			margin-right: 20px;
			margin-top: 50px;
		}
	}

}
