.footer {

	background-color: #f9f9f9;
	padding-top: 25px;
	padding-bottom: 15px;

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 80px;
	}

	&__logo {
		min-width: 42px;
		min-height: 42px;
		background: url('../img/header-logo.png') center no-repeat;
		background-size: cover;
		display: block;
		margin-right: 38px;
	}

	&__desc {
		font-size: 20px;
		line-height: 1.15;
		color: rgba($text-dark, 0.4);
	}

	&__disc {
		&--mobile {
			display: none;
		}
		img {
			width: 100%;
		}
	}

}