.header {
	height: 72px;
	/*border-bottom: 2px dashed #563a24;*/
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// margin-bottom: 135px;
	margin-bottom: 7%;
	position: relative;
	z-index: 2;

	&__logo {
		display: block;
		width: 42px;
		height: 42px;
		background: url('../img/header-logo.png') no-repeat center;
		background-size: cover;
	}

	&__nav {
		font-size: 0;
	}

	&__nav-email {
		font-size: 18px;
		color: rgba($text-dark, 0.8);
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
	}

	&__nav-logout {
		width: 18px;
		height: 15px;
		background: url('../img/header-logout.png') no-repeat center;
		background-size: cover;
		display: inline-block;
		vertical-align: middle;
	}

}
