/* basics */

@media all and (min-width:  1280px) {
	.send {
    height: 100vh;
    min-height: 720px;
    width: 100%;
    padding: 0;
    vertical-align: middle;
		display: table;
	}
	.send .container {
		display: table-cell;
		vertical-align: middle;
	}
}
@media all and (max-width: 1440px) {
	h2 {
		font-size: 54px;
		margin-bottom: 25px;
	}
	h3 {
		font-size: 27px;
	}
	.atm{
		&__element-desc {
	    font-size: 19px;
	    line-height: 25px;
  	}
  	&__list {
			margin-bottom: 30px;
			margin-top: 30px;
  	}
  	&__element {
  		padding: 25px 20px;
  	}
	}
	.send {
    height: 100vh;
    min-height: 720px;
    width: 100%;
    padding: 0;
    vertical-align: middle;
		display: table;
		&-form {
			max-width: 570px;
			padding: 45px;
		}
	}
	.send .container {
		display: table-cell;
		vertical-align: middle;
	}
	.send-form .input-group textarea {
		height: 167px;
		padding: 10px;
		font-size: 17px;
	}
	.send-form .input-group input {
		padding: 10px;
		font-size: 17px;
	}
	.btn {
		padding: 15px 41px 11px 41px;
	}
	.send-form .input-group--half {
		width: 230px;
	}
	.send-form .input-group input {
		margin-bottom: 20px;
	}
}

@media all and (max-width: 650px) { 
	.send-form .input-group textarea {
		height: 230px;
	}
}


/* header */
@media all and (max-width: 640px) {
	.mobile {
		display:block !important;
	}
	.desktop {
		display:none !important;
	}
	.header {
		margin-bottom: 50px;
		height: 44px;
		&__logo {
			width: 29px;
			height: 29px;
		}
		&__nav-email {
			font-size: 16px;
			position: relative;
			top: 2px;
		}
	}

	.container {
		padding: 0 17px;
	}

	h1, h2, h3, h4, h5, h6 {
		br { display: none }
	}

	.page-404, .page-age {
		h1, h2, h3, h4, h5, h6 {
			br {
				display: block;
			}
		}
	}

	h2 {
		font-size: 48px;
		margin-bottom: 20px;
		margin-top: 50px;
	}

	h3 {
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 30px;
	}

	.atm {
		&__buttons {
			display: none;
		}
		&__mobile-buttons {
			display: block;
		}
		&__list {
			margin-top: 30px;
			// flex-direction: column;
			display: block;
		}
		&__element {
			flex-basis: 100%;
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__desc {
			text-align: center;
		}
	}

}

/* send-form */

@media all and (min-width: 1700px) {
	.atm, .about {
		background-size: 100% auto, 100% 100%;
	}
}
@media all and (max-width: 720px) {

	.send-form {
		overflow-x: hidden;
	}

}

@media all and (max-width: 640px) {

	.send {
		padding: 55px 0 40px 0;
	}

	.send-form .input-group--half:first-child {
		margin-right: 0;
	}

	.send-form {
		background-repeat: repeat-y;
		padding: 15px;
	}

	.send-form .input-group label {
		margin-bottom: 10px;
	}

	.send-form .input-group--half {
		width: 100%;
	}

	.send-form .input-group__label {
		margin-bottom: 30px;
	}

	.send-form__buttons {
		& > *:not(:last-child) {
			margin-bottom: 10px;
		}
		.btn {
			padding-left: 0;
			padding-right: 0;
		}
		button {
			margin-right: 0;
			width: 100%;
		}
		a {
			width: 100%;
		}
	}

}

/* about */
@media all and (max-width: 1024px) {

	.about {
		&__list {
			display: block;
			padding-left: 0;
		}
		&__el {
			width: 100%;
			display: block;
			text-align: center;
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				margin-left: 0;
				margin-right: 0;
				max-width: 9999px;
				background-position: center top;
				margin-bottom: 40px;
				padding-left: 0;
				padding-right: 0;
				&:before, &:after {
					content: none;
				}
			}
		}
		
		&__el-desc {
			max-width: 290px;
			margin: 0 auto;
		}
	}

}

@media all and (max-width: 640px) {

	.about {
		padding: 60px 0 30px 0;

		&__list {
			display: block;
			padding-left: 0;
		}

		&__subtitle {
			font-size: 26px;
			line-height: 32px;
			margin-bottom: 25px;
		}

		&__el {
			width: 100%;
			display: block;
			text-align: center;
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				margin-left: 0;
				margin-right: 0;
				max-width: 9999px;
				background-position: center top;
				margin-bottom: 40px;
				padding-left: 0;
				padding-right: 0;
				&:before, &:after {
					content: none;
				}
			}
		}

		&__el-desc {
			max-width: 290px;
			margin: 0 auto;
		}

		&__blocks {
			display: block;
		}

		&__address:nth-child(1) {
			margin-bottom: 10px;
		}

		&__address:nth-child(1), &__address:nth-child(2) {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			display: block;
			max-width: 320px;
			box-shadow: none;
		}

	}

}

/* footer */
@media all and (max-width: 640px) {

	.footer {
		&__top {
			flex-direction: column;
			text-align: center;
			margin-bottom: 30px;
			display: block;
		}
		&__logo {
			margin-bottom: 20px;
			margin-right: 0;
			width: 42px;
			margin: 0 auto 20px auto;
		}
		&__disc {
			display: none;
			&--mobile {
				display: block;
				img {
					max-width: 270px;
					margin: 0 auto;
					display: block;
				}
			}
		}
	}

}

/* age and 404 */
@media all and (max-width: 640px) {

	body.age:before {
		width: 300px;
		height: 188px;
	}

	.page-404, .page-age {
		&__buttons {
			& > * {
				width: 100%;
				display: block;
			}
			& > *:not(:last-child) {
				margin-bottom: 10px;
			}
			.btn {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

}

/* overlays */

@media all and (max-width: 890px) {

	.order-popup {
		width: 100%;
		padding: 84px 17px 0 17px;
		left: 0;
		top: 0;
		transform: translate(0,0);

		.popup__close {
			top: 33px;
		}

		.btn {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}

		.input-group__error {
			right: -27px;
		}

		.input-group__error--exists {
			right: -27px;
		}

		&__forms {
			position: relative;
		}
		&__left {
			display: block;
			width: 100%;
			z-index: 2;
			margin: 0 auto;
			padding: 15px;
			&.disabled {
				visibility: hidden;
				opacity: 0;
			}
		}
		&__right {
			padding: 30px 10px 50px 10px;
			display: block;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			&.disabled {
				visibility: hidden;
				opacity: 0;
			}
		}
	}

}

@media all and (max-width: 810px) {

	.popup__close {
		position: fixed;
		top: -50px;
		left: 50%;
		transform: translate(-50%,0);
	}

	.map-popup {
		width: 100%;
		height: 100%;
		max-height: 9999px;
		max-width: 9999px;
		&__title {
			background: #03B7E3;
			height: 54px;
			font-size: 0;
			padding: 0;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}
		.popup__close {
			left: 0;
			top: 0px;
			width: 100%;
			height: 54px;
			background-color: #03B7E3;
			background-size: inherit;
			transform: translate(0,0);
		}
		&__map {
			position: absolute;
			left: 0;
			top: 54px;
			width: 100%;
			height: calc(100% - 54px);
		}
	}

	.conds-popup {
		max-width: 9999px;
		max-height: 9999px;
		width: 100%;
		top: 54px;
		left: 0;
		transform: translate(0,0);
		height: calc(100% - 54px);
		border-radius: 0;
		.popup__close {
			left: 0;
			top: -54px;
			width: 100%;
			height: 54px;
			background-color: #03B7E3;
			background-size: inherit;
			transform: translate(0,0);
		}
		&__content {
			padding: 30px 17px;
		}
		&__title {
			font-size: 30px;
			margin-bottom: 15px;
		}
		&__text {
			font-size: 18px;
			line-height: 22px;
		}
	}

}

@media all and (max-width: 1140px) {
	.send-form:before, .send-form:after {
		display: none;
	}
}

@media all and (max-width: 640px) {
 .atm {
  margin-top: -287px;
 }
 h2 {
  font-size: 38px !important;
  line-height: 40px;
 }
 h3 {
  font-size: 24px;
 }
 .send {
  padding-top: 0px !important;
 }
}