.page-404 {

	&__button {
		text-align: center;
		a {

		}
	}

}

.page-age {
	padding-bottom: 28%;

	&__buttons {
		margin-top: 50px;
		text-align: center;
		a {
			padding-left: 70px;
			padding-right: 70px;
		}
		a:nth-child(1) {
			margin-right: 20px;
		}
	}

	&__subtitle {
		color: rgba(#261E17,0.6);
		text-align: center;
		font-size: 20px;
	}

}
