.send {
	padding-top: 100px;
	padding-bottom: 100px;
	background: $text-dark url('../img/send-form-bg.jpg') no-repeat center;
	background-size: cover;
	position: relative;

	h2 {
		color: #fff;
	}

}

.send-form {
	border-radius: 5px;
	background: url('../img/body-bg.jpg') no-repeat center;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	padding: 50px;
	transition: 0.3s linear;
	position: relative;

	// &:before {
	// 	left: -280px;
	// 	top: 305px;
	// 	width: 310px;
	// 	height: 192px;
	// 	background: url('../img/why-you-left.png') no-repeat center;
	// 	background-size: cover;
	// 	content: '';
	// 	position: absolute;
	// }
	//
	// &:after {
	// 	right: -245px;
	// 	top: 37px;
	// 	width: 289px;
	// 	height: 170px;
	// 	background: url('../img/why-you-right.png') no-repeat center;
	// 	background-size: cover;
	// 	content: '';
	// 	position: absolute;
	// }

	&.active {
		visibility: hidden;
		opacity: 0;
	}

	.input-group {
		width: 100%;
		position: relative;
		&.error {
			input {
				color: #DF1717;
				border-color: #DF1717;
			}
			textarea {
				border-color: #DF1717;
			}
			.input-group__error {
				visibility: visible;
				opacity: 1;
			}
		}
		&.error--mat {
			textarea {
				color: #DF1717;
				border-color: #DF1717;
			}
			.input-group__error--mat {
				visibility: visible;
				opacity: 1;
			}
		}
		&.error--flood {
			textarea {
				color: #DF1717;
				border-color: #DF1717;
			}
			.input-group__error--flood {
				visibility: visible;
				opacity: 1;
			}
		}
		&.error--700 {
			textarea {
				color: #DF1717;
				border-color: #DF1717;
			}
			.input-group__error--700 {
				visibility: visible;
				opacity: 1;
			}
		}
		&.error--000 {
			textarea {
				color: #DF1717;
				border-color: #DF1717;
			}
			.input-group__error--000 {
				visibility: visible;
				opacity: 1;
			}
		}
		&__error, &__error--mat, &__error--flood, &__error--700, &__error--000 {
			position: absolute;
			bottom: 60px;
			right: -10px;
			text-align: center;
			color: #fff;
			background: #E25C5C;
			border-radius: 20px;
			font-size: 20px;
			padding: 6px 16px;
			box-shadow: 0px 5px 10px rgba(#000,0.1);
			opacity: 0;
			visibility: hidden;
			transition: 0.1s linear;
		}

		label {
			display: block;
			font-size: 20px;
			line-height: 1.1;
			margin-bottom: 20px;
			color: $text-dark;
		}
		input {
			margin-bottom: 35px;
			width: 100%;
			border: 2px solid #cdaf98;
			border-radius: 5px;
			background: #fff;
			font-size: 20px;
			line-height: 1.35;
			padding: 12px;
			font-family: $kozel;
		}
		textarea {
			width: 100%;
			border: 2px solid #cdaf98;
			border-radius: 5px;
			background: #fff;
			font-size: 20px;
			line-height: 1.35;
			padding: 12px;
			font-family: $kozel;
			height: 250px;
			resize: none;
			margin-bottom: 15px;
		}
		&--half {
			width: 260px;
			float: left;
			&:first-child {
				margin-right: 20px;
				position: relative;
				z-index: 2;
			}
		}
		&__label {
			font-size: 20px;
			color: rgba($text-dark,0.6);
			margin-bottom: 55px;
		}
	}
	&__buttons {
		font-size: 0;
		button, a {
			display: inline-block;
		}
		button {
			margin-right: 20px;
			font-family: $kozel;
			-webkit-appearance: none;
			line-height: 1;
		}
	}

}
