body {
	font-family: $kozel;
	font-size: 16px;
	line-height: 1;
	background-image: url(../img/small-body-bg.png),url(../img/body-bg.jpg);
	background-repeat: no-repeat,no-repeat;
	background-position: center bottom,center center;
	background-size: auto,100% 100%;
	position: relative;
	min-height: 100vh;
	&:after {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/bottom-bg.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100% auto;
	}
	&.age:before {
		background-image: url('../img/car-bg.png');
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		content: '';
		width: 422px;
		height: 285px;
		position: absolute;
		z-index: -1;
		left: 50%;
		bottom: 0;
		transform: translate(-50%,0);
	}
	&.age:after {

	}
}
.mobile {
	display:none !important;
}
.desktop {
	display:block !important;
}
.container {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 10px;
}

h2 {
	font-size: 62px;
	letter-spacing: -0.7px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
	color: $text-dark;
	span { color: $text-light; }
}

h3 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
	color: rgba(#261E17,0.5);
	font-size: 32px;
	letter-spacing: -0.3px;
	text-align: center;
}

.btn {
	display: inline-block;
	border: solid 2px rgba(#27292f,0.3);
	padding: 17px 43px 13px 43px;
	border-radius: 5px;
	font-size: 20px;
	letter-spacing: 0.15px;
	color: $text-dark;
	text-align: center;
	transition: 0.2s linear;

	&:hover {
		color: #fff;
		background: $text-dark;
		border-color: $text-dark;
	}

	&--blue {
		border-color: $color-blue !important;
		background-color: $color-blue;
		color: #fff;
		&:hover {
			border-color: $color-dark-blue !important;
			background: $color-dark-blue;
		}
	}

	&--orange {
		background-color: $text-light;
		border-color: $text-light !important;
		color: #fff;
		&:hover {
			background: $text-orange-dark;
		}
		&.disabled {
			border-color: #A98E6E !important;
			background: #A98E6E !important;
			&:hover {
				border-color: #A98E6E !important;
				background: transparent !important;
				color: #A98E6E;
			}
		}
	}

	&--brown {
		background-color: #4b2218;
		border-color: #4b2218 !important;
		color: #fff;
		&:hover {
			background: #381912;
		}
	}

}
