@font-face {
  font-family: 'Poplar Kozel';
  src: url(../fonts/PoplarKozelCyr.eot);
  src: url(../fonts/PoplarKozelCyr.eot?#iefix) format('embedded-opentype'),
  url(../fonts/PoplarKozelCyr.woff) format('woff'),
  url(../fonts/PoplarKozelCyr.ttf) format('truetype'),
  url(../fonts/PoplarKozelCyr.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova-Regular.eot);
  src: url(../fonts/ProximaNova-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/ProximaNova-Regular.woff) format('woff'),
  url(../fonts/ProximaNova-Regular.ttf) format('truetype'),
  url(../fonts/ProximaNova-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova-Bold.eot);
  src: url(../fonts/ProximaNova-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/ProximaNova-Bold.woff) format('woff'),
  url(../fonts/ProximaNova-Bold.ttf) format('truetype'),
  url(../fonts/ProximaNova-Bold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNovaExCn-Extrabld.eot);
  src: url(../fonts/ProximaNovaExCn-Extrabld.eot?#iefix) format('embedded-opentype'),
  url(../fonts/ProximaNovaExCn-Extrabld.woff) format('woff'),
  url(../fonts/ProximaNovaExCn-Extrabld.ttf) format('truetype'),
  url(../fonts/ProximaNovaExCn-Extrabld.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}